@CHARSET "UTF-8";

	div {
		box-sizing: border-box;
	}
	
	input[type=number]::-webkit-inner-spin-button {
     width: 30px;
     height: 30px;
     -webkit-appearance: none;
	}
	
	table#menuTable{
		margin: 0 auto;
		width : 100%;
	}

	.menuImage{
		width : 100px;
		height : 100px;
	}
	
	.tbtn, .icoClear{
		cursor : pointer;
		background-color: white;
		border : 0;
		outline: 0;
	}
	
	.cart { 
	position: fixed; 
	right: 50%; 
	top: 180px; 
	margin-right: -720px; 
	text-align:center; 
	width: 120px; 
	}
	
	.cart a{
		text-decoration: none;
		color: black;
	}
	.cart input{
		width: 40px;
	}
	
	.cartUl li {
		list-style-type : none;
	}
	
	#setMenuTitle, #mainMenuTitle, #sideMenuTitle, #drinkMenuTitle {
		text-align:center; 
		font-size:1.5rem;
		background-color: #e6e6e6;
		cursor:pointer;
	}
	#setMenuTitle:hover, #mainMenuTitle:hover, #sideMenuTitle:hover, #drinkMenuTitle:hover {
		text-decoration: underline;
		color: #4e4e4e;
	}
	#setMenuDiv table, #mainMenuDiv table, #sideMenuDiv table, #drinkMenuDiv table {
		margin: 10px auto;
		border-bottom: 1px solid #d9d9d9;
		height: 110px;
	}
	
	.textBox {
		width: 150px;
		height: 30px;
		border-radius: 12px;
		border: 2px solid gray;
		padding-left: 15px;
		font-family: Binggrae-Bold;
		font-size: 1rem;
	}
	.btn {
		background: linear-gradient( to right, hsl(98 100% 62%), hsl(204 100% 59%) );
		font-family: Binggrae-Bold;
		font-size: 1rem;
		color: white;
		border: none;
		border-radius: 12px;
		width: 120px;
		height: 35px;
		transition-duration: 1s;
		opacity: 0.7;
	}
	.btn:hover {
		cursor: pointer;
		opacity: 1;
	}
	
	