@CHARSET "UTF-8";

	div {
		box-sizing: border-box;
	}
	#mainDiv {
		width: 1000px;
		min-height: 600px;
		margin: 0 auto;
		margin-top: 80px;
		position: relative;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	
	#storeDiv {
		width: 66.666667%;
		float: left;
	}
	#storeNameDiv {
		border : 1px solid #d9d9d9;
	}
	#storeNameDiv > h3 {
		margin: 0;
		background: linear-gradient( to right, hsl(98 100% 62%), hsl(204 100% 59%) );
		color: white;
		height: 50px;
		line-height: 50px;
		text-align: center;
		text-shadow: 2px 1px 1px grey;
	}
	#storeBasicInfoDiv {
		border : 1px solid #d9d9d9;
		margin-bottom: 10px;
	}
	#storeBasicInfoDiv > table {
		margin: 15px 10px;
	}
	#storeBasicInfoDiv > table img {
		width: 130px;
		border-radius: 12px;
	}
	
	#topMenu > div {
		float:left;
		width: 33.333333%;
		text-align: center;	
		border : 1px solid #d9d9d9;
		line-height: 50px;
	}
	.clicked{
		background: linear-gradient( to right, hsl(98 100% 62%), hsl(204 100% 59%) );
		color: white;
		cursor: pointer;
		text-shadow: 2px 1px 1px grey;
	}
	.unclicked{
		cursor: pointer; 
	 }
	.display-on {
		display: block;
	}
	.display-off {
		display: none;
	}
	#menuDiv {
		border : 1px solid #d9d9d9;
	}
	#reviewDiv {
		border : 1px solid #d9d9d9;
	}
	#infoDiv {
		border : 1px solid #d9d9d9;
	}
	
	#cartDiv {
		width: 31%;
		min-height: 150px;
		position: absolute;
		left: 68%;
	}
	
	.cartGroup{
		border : 1px solid #d9d9d9;
		margin-bottom: 20px;
	
	}
	
	.cart-Head{
		display : inline-block;
		background: linear-gradient( to right, hsl(98 100% 62%), hsl(204 100% 59%) );
	}	
	
	.panelTitle > h3 {
		margin: 0;
	    color: white;
	    height: 50px;
	    line-height: 50px;
	    text-align: center;
	    text-shadow: 2px 1px 1px grey;
	}
	
	.cart-Head {
		width : 100%;
		padding : 0 20px 0;
	}
	
	.cart-Head-left{
		float : left;
	}
	
	.cart-Head-right {
		float : right;	
		margin-top : 5px;
	}
		
	button#clearCartBtn{
		border : 0;
		background: none;
		cursor : pointer;
		display : none;
	}
	
	button:focus{ 
 		outline: none; 
 	}
	
	.cart-Body{
		width : 100%;
		min-height: 97px;
		display : table;
	}
	
	.emptyCart{
		display : table-cell;
		vertical-align : middle;
		text-align : center;
		color : #848484;
		font-weight : bold;
	}
	
	.emptyCartSpan{
		width : 100%;
	}
 	
 	.cartRow {
 		width : 100%;
 		padding : 10px;
 		border-bottom : 1px solid #D3D3D3;
 	}
 	
 	ul {
 		width : 100%;
 		margin : 0 auto;
 		padding : 0;
 		display : inline-block;
 	}
 	
 	li {
 		width : 100%;
 		margin-bottom: 10px;
		list-style-type : none;
	}
		
	div.priceQty{
		width : 100%;
		margin : 0 auto;
		display : inline-block;
	}	
		
	div.priceQty-Group{
		margin : 10px auto;
	}	
		
	div.left{
		float : left;
	}
	div.right{
		float : right;
		margin-right : 20px;
	} 
 	
 	.cartTotal {
 		width : 100%;
 		height : 40px;
	 	margin : 0 auto;
	 	text-align: right;
	 	display : table;
 	}
 	
 	.cartTotalSpan {
 		display : table-cell;
 		vertical-align:middle;
 		width : 100%;
 		height : 20px;
 		padding : 10px;
 		color : #DC143C;
 		font-weight : bold;
 	}
 	
	  .clearBoth {
		clear : both;	
	 }
 	
 	button#obtn{
	 	width : 100%;
	 	height : 40px;
		margin : 0 auto;
	 	border:0px;
	 	color :  #F0FFFF;
	 	font-size : 20px;
	 	font-weight : bold;
	 	text-align : center;
 	}
 
	.obtn-on{
	 	background-color: #DC143C;
	 	cursor : pointer;
 	}	
 	
 	.obtn-off{
	 	background-color: #D3D3D3;
	 	cursor : default;
 	} 	

 	
	/* input[type=number]::-webkit-inner-spin-button {
     width: 30px;
     height: 30px;
     -webkit-appearance: none;
	}
	
	button#qtyUp{
		background: url("./images/btn_count_up.gif") no-reapt;
	}
	
	button#qtyDown{
		background: url("./images/btn_count_down.gif") no-reapt;
	}
	
	.cart { 
	position: fixed; 
	right: 50%; 
	top: 180px; 
	margin-right: -720px; 
	text-align:center; 
	width: 120px; 
	}
	
	.cart a{
		text-decoration: none;
		color: black;
	}
	.cart input{
		width: 40px;
	}
	
	.cartUl li {
		list-style-type : none;
	}
	
	#topMunu{
		padding: 0;
		margin: 0;
		padding-left: 0;
	}
	#topMenu li{
		margin-top: 0;
		list-style: none;
		float: left;
		width: 300px;
		text-align: center;	
		border : 1px solid #d9d9d9;
		line-height: 50px;
	}
	#topMenu .menuLink:hover, #topMenu .reviewLink:hover, #topMenu .infoLink:hover {
		color: red;
		background-color: #4d4d4d;
		cursor:pointer;
	}
	.clicked{
		background-color: #4d4d4d;
		color: red;
		cursor: pointer;
	}
	.unclicked{
		cursor: pointer; 
	 }
	.display-on {
		display: block;
	}
	.display-off {
		display: none;
	}
	.storeName{
    	font-size: 110%;
		border: 1px solid #d9d9d9;
	}
	.guideText{
		color: #999;
	}
	.avg{
		float: right;
		margin-right: 250px;
		margin-top: 30px;
	}
	#storeAvgStar{
		font-size: 15px;
		color: #ffa400;
	}
	#storeAvgScore{
		float: right;
	}
	.storeInfo{
		padding: 10px;
    	font-size: 110%;
		border: 1px solid #d9d9d9;
		margin: 30px 30px;
		overflow: hidden;	
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}


	#topMenu a,#topMenu li{
		height: 46px;
	} */